<div class="container">
  <ul class="list-group">
    <li class="list-group-item"> 投資対象 : <%= Investment.find_by(id: @user_portfolio.investment_id).name %></li>
    <li class="list-group-item"> 投資金額 : <%= @user_portfolio.total_value %></li>
    <li class="list-group-item"> 積立金額(月額) : <%= @user_portfolio.reserve_value %></li>
    <li class="list-group-item"> <%= link_to("編集", "edit") %></li>
    <li class="list-group-item"> <%= link_to "削除", user_portfolio_path(@user_portfolio), method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</div>
